* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* timer  */

#datetime-picker {
  border: 1px solid rgba(33,33,33,.2);
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(33,33,33,.8);
  height: 30px;
  width: 210px;
}
button[data-start] {
  background-color: rgba(33,33,33,.2);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border: none;
  height: 30px;
}
.timer {
  display: flex;
  gap: 20px;
}
.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer .value {
  font-size: 2.4rem;
}
.timer .label {
  text-transform: uppercase;
  font-size: .8rem;
}